*
!.gitignore
!.gitmodules
!DeepLabCutAutomation/
!DeepLabCutAutomation/*
!JaabaScoreConversion/
!JaabaScoreConversion/*
!TackConverter/
!TackConverter/*
!LICENSE
!README.md
!WeeklyUpdate.md
!Scoring/
!Scoring/*
*/.DS_Store