*
!.gitignore
!.gitmodules
!DeepLabCutAutomation/
!DeepLabCutAutomation/*
!JaabaScoreConversion/
!JaabaScoreConversion/*
!TrackConverter/
!TrackConverter/*
!LICENSE
!README.md
!WeeklyUpdate.md
*/.DS_Store