*
!.gitignore
!.gitmodules
!DeepLabCut
!JAABA
!DeepLabCutAutomation/
!DeepLabCutAutomation/*
!JaabaScoreConversion/
!JaabaScoreConversion/*
!TrackConverter/
!TrackConverter/*
!LICENSE
!README.md
!WeeklyUpdate.md
!Scoring/
!Scoring/*
*/.DS_Store
*/__pycache__